@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.user-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: brown;
  color: #ffffff;
  font-size: 15px;
  border-radius: 50%;
  font-weight: 800;
}